.Hafez{
    background-image: url(../hafez-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'rezvan', sans-serif;
}